li {
  padding: 5px;
  margin: 5px;
  background: #faebd7;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
}

h1 {
  color: red;
  text-align: center;
}

body {
  background-color: goldenrod;
}

#mainSection {
  display: flex;
  justify-content: space-evenly;
}

#newBurger {
  margin-left: 20%;
}

#leftSide {
  
}

#rightSide {
 
  
}

#burgerPic {
  margin: auto;
  display: block;
}